
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
   <title>@ViewData["Title"]</title>
    <!-- Icons-->
    <link href="~/Assets/node_modules/coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="~/Assets/node_modules/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="~/Assets/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Assets/node_modules/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="~/Assets/css/style.css" rel="stylesheet">
    <link href="~/Assets/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    // Shared ID
    gtag('config', 'UA-118965717-3');
    // Bootstrap ID
    gtag('config', 'UA-118965717-5');</script>
</head>
<body class="app flex-row align-items-center">
   @RenderBody()
    <!-- CoreUI and necessary plugins-->
    <script src="~/Assets/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Assets/nod@ree_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Assets/node_modules/pace-progress/pace.min.js"></script>
    <script src="~/Assets/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    @*<script src="node_modules/@coreui/coreui/dist/js/coreui.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
   @RenderSection("Scripts",required:false)
</body>
</html>
