
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@section CssSection
{
    <style>
        .nxt {
            background: #34d986;
        }
        .sidebar {
            padding: 0px;
        }
        .card-header {
            background-color: #7eeab4
        }
        .pagination {
            margin-top: 10px;
        }
    </style>
}
<body class="courses-page">
    <div class="page-header">
        <header class="site-header">
            <div class="top-header-bar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-lg-6 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                            <div class="header-bar-email d-flex align-items-center">
                                <i class="fa fa-envelope"></i><a href="#">info@prostuti.com</a>
                            </div><!-- .header-bar-email -->

                            <div class="header-bar-text lg-flex align-items-center">
                                @*<p><i class="fa fa-phone"></i>001-1234-88888 </p>*@
                            </div><!-- .header-bar-text -->
                        </div><!-- .col -->

                        <div class="col-12 col-lg-6 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                            <div class="header-bar-search">
                                <form class="flex align-items-stretch">
                                    <input type="search" placeholder="What would you like to learn?">
                                    <button type="submit" value="" class="flex justify-content-center align-items-center"><i class="fa fa-search"></i></button>
                                </form>
                            </div><!-- .header-bar-search -->

                            <div class="header-bar-menu">
                                <ul class="flex justify-content-center align-items-center py-2 pt-md-0">
                                    <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                                    <li><a asp-controller="Account" asp-action="Index">Login</a></li>
                                </ul>
                            </div><!-- .header-bar-menu -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container-fluid -->
            </div><!-- .top-header-bar -->

            <div class="nav-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-9 col-lg-3">
                            <div class="site-branding">
                                <a asp-controller="Home" asp-action="Index"><img src="~/logo/logo5.png" alt="Logo" /></a>
                            </div><!-- .site-branding -->
                        </div><!-- .col -->

                        <div class="col-3 col-lg-9 flex justify-content-end align-content-center">
                            <nav class="site-navigation flex justify-content-end align-items-center">
                                <ul class="flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                    <li class="current-menu-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a asp-action="Course" asp-controller="Home">Exam</a></li>
                                    <li><a href="#">blog</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>

                                <div class="hamburger-menu d-lg-none">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div><!-- .hamburger-menu -->

                                <div class="header-bar-cart">
                                    <a href="#" class="flex justify-content-center align-items-center"><span aria-hidden="true" class="icon_bag_alt"></span></a>
                                </div><!-- .header-bar-search -->
                            </nav><!-- .site-navigation -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .nav-bar -->
        </header><!-- .site-header -->

        <div class="page-header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <header class="entry-header">
                            <h1>Exam Online</h1>
                        </header><!-- .entry-header -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-header-overlay -->
    </div><!-- .page-header -->

    <div class="container">
        @*<div class="row">
                <div class="col-12">
                    <div class="breadcrumbs">
                        <ul class="flex flex-wrap align-items-center p-0 m-0">
                            <li><a asp-action="Index" asp-controller="Home" ><i class="fa fa-home"></i> Home</a></li>
                            <li>Exam</li>
                        </ul>
                    </div><!-- .breadcrumbs -->
                </div><!-- .col -->
            </div>*@<!-- .row -->

        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="sidebar">
                    <div class="search-widget">
                        <div class="col-12 px-25 flex justify-content-center nxt">
                            <a class="btn " href="/Student/Index">Profile</a>
                        </div>
                    </div>

                    <div class="cat-links">
                        <h2>Dashboard</h2>

                        <ul class="p-0 m-0 " >
                            <li class="table-bordered"><a href="#">Quiz Test</a></li>
                            <li class="table-bordered"><a href="#">Model Test</a></li>
                            <li class="table-bordered"> <a href="#">Logout</a></li>

                        </ul>

                    </div>

                  

                    <div class="ads">
                        <img src="~/Assets/rex/images/ads.jpg" alt="">
                    </div><!-- .ads -->

                </div><!-- .sidebar -->
            </div><!-- .col -->
            <div class="col-12 col-lg-8">
                <div class="featured-courses courses-wrap">
                    <div class="row mx-m-25">
                        <div class="col-12 px-25">
                            <div class="course-content">
                                <div class="card">
                                    <div class="card-header">
                                        <h1 id="timer" style="color: white">29:18</h1>
                                    </div>


                                    <div class="card-body">
                                        <form class="form-horizontal" action="" method="post">

                                            <div class="form-group">
                                                <label for="qName"><h3>Question Name Here</h3></label>

                                                <table class="table table-hover">
                                                    <tbody>
                                                        <tr style="text-align: center; padding: 2px;">
                                                            <td>fgh1</td>
                                                        </tr>
                                                        <tr style="text-align: center">
                                                            <td>fgh2</td>
                                                        </tr>
                                                        <tr style="text-align: center">
                                                            <td>fgh3</td>
                                                        </tr>
                                                        <tr style="text-align: center">
                                                            <td>fgh4</td>
                                                        </tr>
                      
                                                    </tbody>
                                                </table>

                                            </div>
                                                     </form>
                                    </div>
                                    <div class="card-footer">
                                        <label class="col-md-8 col-form-label" for="name"></label>
                                        <button class="col-md-3 btn btn-sm btn-danger" type="reset">
                                            <i class="fa fa-ban"></i> End Exam
                                        </button>

                                    </div>

                                </div>
                            </div><!-- .course-content -->
                        </div><!-- .col -->

                    



 


               
                    </div><!-- .row -->
                </div><!-- .featured-courses -->

                <div class="pagination flex flex-wrap justify-content-between align-items-center">
                    <div class="col-12 col-lg-4 order-2 order-lg-1 mt-3 mt-lg-0">
                        <ul class="flex flex-wrap align-items-center order-2 order-lg-1 p-0 m-0">
                         <a class="btn mt-4 mt-sm-0" href="/Home/Course">Next</a>
                           

                        </ul>
                    </div>

                
                </div><!-- .pagination -->
            </div><!-- .col -->

         
        </div><!-- .row -->
    </div><!-- .container -->

    <div class="clients-logo">
        <div class="container">
            <div class="row">
                <div class="col-12 flex flex-wrap justify-content-center justify-content-lg-between align-items-center">
                    <div class="logo-wrap">
                        <img src="images/logo-1.png" alt="">
                    </div><!-- .logo-wrap -->

                    <div class="logo-wrap">
                        <img src="images/logo-2.png" alt="">
                    </div><!-- .logo-wrap -->

                    <div class="logo-wrap">
                        <img src="images/logo-3.png" alt="">
                    </div><!-- .logo-wrap -->

                    <div class="logo-wrap">
                        <img src="images/logo-4.png" alt="">
                    </div><!-- .logo-wrap -->

                    <div class="logo-wrap">
                        <img src="images/logo-5.png" alt="">
                    </div><!-- .logo-wrap -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .clients-logo -->

</body>
@section Scripts{ 
    <script type="text/javascript">
        var timeoutHandle;

        function countdown(minutes, seconds) {
            var seconds = 60;
            var mins = 30;

            function tick() {
                var counter = document.getElementById("timer");
                var current_minutes = mins - 1
                seconds--;
                counter.innerHTML =
                    current_minutes.toString() + ":" + (seconds < 10 ? "0" : "") + String(seconds);
                if (seconds > 0) {
                    timeoutHandle = setTimeout(tick, 1000);
                } else {

                    if (mins > 1) {

                        // countdown(mins-1);   never reach “00″ issue solved:Contributed by Victor Streithorst
                        setTimeout(function() {
                            countdown(mins - 1);
                        }, 1000);

                    }
                }
            }
            tick();
        }

        countdown(2);
    </script>
}

