
@{
    ViewData["Title"] = "EditQuiz";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Css
{
    <style>
        .card {
            background-color: #e4e5e6
        }
        .col-form-label {
            font-size: 16px;
        }
    </style>
}
<main class="main">
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">
            <a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item active">Add Question</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="#">
                    <i class="icon-speech"></i>
                </a>

            </div>
        </li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">

            <!-- /.row-->
            <div class="row">

                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <h5>Edit Quiz </h5>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" action="" method="post">


                                <div class="form-group">
                                    <label for="qName">Quiz Name</label>
                                    <input class="form-control" id="qName" type="text" placeholder="Enter Question Here">
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="option1">Quiz Pass Parcentage</label>
                                    <div class="col-md-8">
                                        <input class="form-control" id="option1" type="number" name="" placeholder="">

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="option2">Quiz pass text</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" id="option2"></textarea>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="option3">Quiz fail text</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" id="option3"></textarea>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="option3">Timer/Counter</label>
                                    <div class="col-md-8">
                                        <input class="form-control" id="option3" type="number" name="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="option4">Use pool of questions</label>
                                    <div class="col-md-8">
                                        <input class="form-control" id="option4" type="number" name="" placeholder="">
                                    </div>
                                </div>
                               

                            </form>
                        </div>
                        <div class="card-footer">
                            <label class="col-md-3 col-form-label" for="answer"> </label>

                            <button class="btn btn-sm btn-primary" type="submit">
                                <i class="fa fa-dot-circle-o"></i> Update
                            </button>
                            <button class="btn btn-sm btn-danger" type="reset">
                                <i class="fa fa-ban"></i> Reset
                            </button>
                        </div>
                    </div>

                </div>
                <!-- /.col-->
            </div>
            <!-- /.row-->
            <!-- /.row-->
        </div>
    </div>
</main>

