
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">
                  
                        <div class="card-body p-4">
                            <h1>Register</h1>
                            <p class="text-muted">Create your account @ViewData["a"]</p>
                            
                            <form method="post">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-user"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="text" placeholder="Phone Number" id="phoneNumber" name="PhoneNumber" required="">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"></span>
                                </div>
                                <input class="form-control" type="text" placeholder="Email" id="email" name="Email">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-lock"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="password" placeholder="Password" id="password" name="Password">
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-lock"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="password" placeholder="Repeat password" id="confirmPassword" name="ConfirmPassword">
                            </div>
                            <button class="btn btn-block btn-success" type="submit" id="">Create Account</button>
                            </form>
                            </div>
                   
                    <div class="card-footer p-4">
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-block btn-facebook" type="button">
                                    <span>facebook</span>
                                </button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-block btn-twitter" type="button">
                                    <span>twitter</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts
{ 
<script>
    $(document).ready(function() {
        $("#btnRegister").click(function() {
                $.ajax({
                    url: 'http://sajidur-001-site3.itempurl.com/api/Account/Register',
                    method: 'POST',
                    data: {
                        Email: $("#email").val(),
                       
                        Password: $("#password").val(),
                        ConfirmPassword: $("#confirmPassword").val(),
                        PhoneNumber: $("#phoneNumber").val()
                        
            },
                success: function() {
                    alert("Registration successfully");
                },
                error: function(jqXHR) {
                    alert(jqXHR.responseText);
                    alert("Registration unsuccessfully");
                }
            });
        });
    })
</script>
}

